Brotli==1.2.0
certifi==2026.1.4
click==8.3.1
Flask==3.1.2
gunicorn==24.1.1
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
mutagen==1.47.0
py-healthcheck==1.10.1
pycryptodomex==3.23.0
six==1.17.0
websockets==16.0
Werkzeug==3.1.5
yt-dlp[default]==2025.12.8
