# Python related
venv/
*.pyc
__pycache__/
instance/
.pytest_cache/
.coverage
htmlcov/

# Build related
dist/
build/
*.egg-info/

# Node.js related
node_modules/
.nyc_output
sandbox.js

# Miscellaneous
coverage/
public/
./yt-dlp
.env
dependency-graph.html
*.dbml
.tap
