Brotli==1.1.0
certifi==2024.8.30
click==8.1.7
Flask==3.0.3
Flask-BasicAuth==0.2.0
gunicorn==23.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
mutagen==1.47.0
py-healthcheck==1.10.1
pycryptodomex==3.20.0
six==1.16.0
websockets==13.1
Werkzeug==3.0.4
yt-dlp @ git+https://github.com/yt-dlp/yt-dlp@master
yt-dlp-get-pot==0.1.1
bgutil_ytdlp_pot_provider==0.6.1
