name: flyctl deploy

on:
  workflow_dispatch:
    inputs:
      ref:
        description: 'ref to deploy'
        required: true
        default: 'master'

env:
  python_version: '3.x'
  FORCE_COLOR: 1

concurrency: # prevent concurrent releases
  group: flyctl-deploy
  cancel-in-progress: true

jobs:
  flyctl_deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        ref: ${{ github.event.inputs.ref }}
    - uses: superfly/flyctl-actions/setup-flyctl@master
    - run: flyctl deploy --remote-only --buildkit
      env:
        FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
