name: Rotate Fly.io App Region

on:
  workflow_dispatch: # Allows manual triggering
  #schedule:
  # Runs every 2 hours
  #- cron: '0 */2 * * *'

env:
  FORCE_COLOR: 1

concurrency: # prevent concurrent releases
  group: flyctl-roll-region
  cancel-in-progress: true

jobs:
  rotate-region:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: package.json
          cache: "pnpm"
      - run: pnpm install
      - uses: superfly/flyctl-actions/setup-flyctl@master
      - name: Switch to a Different Region and Scale
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
        run: pnpm run roll-region
