name: tests

on: [pull_request, push]

env:
  FORCE_COLOR: 2

jobs:
  test:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]
        python_version: ['3.x']

    services:
      redis:
        image: redis:7
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 6379:6379

    steps:
    - uses: actions/checkout@v6

    - uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python_version }}
        architecture: 'x64'

    - name: Install Flake8
      run: |
        pip install flake8
      working-directory: ytdlp-server

    - name: Run Flake8
      run: |
        flake8 . --max-line-length=120
      working-directory: ytdlp-server

    - name: Install Protoc using apt-get
      run: |
        sudo apt-get update
        sudo apt-get install -y protobuf-compiler

    - name: Verify protoc installation
      run: protoc --version

    - name: Use Node.js
      uses: actions/setup-node@v6
      with:
        node-version-file: package.json
    - run: npm i
    - run: npm test
